.my {
  color: blue;
  background-color: #ffe6cb;
  float: left;
  margin-bottom: 20px;
}
.your {
  color: black;
  background-color: #F9D1D8;
  float: right;
  margin-bottom: 20px;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 600px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
  text-align: center;
  color: #000000;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;

  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;

}

#nameAccount {
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: skyblue;
}