.classDetail {
  display: table;
  /* width: 400px; */
  margin: 10px;
}

/* .detail { */
.form-check.form-switch {
  display: table-cell;
  /* position: -webkit-sticky; */
  /* position: right; */
  position: relative;
  left: 200px;
  /* width: 1200px; */
  height: 50px;
  /* background-color: pink; */
}

#checkBtn{
  transform:scale(1.5);
  position: relative;
  left: 15%;
  top: 10px;
  height: 50px;
  /* width: 10px; */
  /* background-color: pink; */
}

#subjectID{
  position: relative;
  left: 15%;
  height: 50px;
  /* width: 15%; */
  /* background-color: pink; */
}

#subjectName{
  position: relative;
  left: 20%;
  height: 50px;
  width: 330px;
  /* background-color: pink; */
}

#professor{
  position: relative;
  left: 20%;
  height: 50px;
  width: 150px;
  /* background-color: pink; */
}

#style{
  position: relative;
  left: 20%;
  height: 50px;
  /* background-color: pink; */
}

#subjectType{
  position: relative;
  left: 20%;
  height: 50px;
  /* background-color: pink; */
}

.BigcheckBtn{
  position: relative;
  left: 120%;
  color: #3BAF75;
  background-color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  width:130px;
  border-radius: 15px;
  border: solid 1px #3BAF75;
}

.BigCancelBtn{
  /* class.htmlのキャンセルボタン */
  position: relative;
  left: 120%;
  color: #3BAF75;
  background-color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  width:130px;
  border-radius: 15px;
  border: solid 1px #3BAF75;
  position: relative;
  top: 0px;
}
