.classDetail {
  display: table;
  width: 1200px;
  margin: 10px;
}

/* .detail { */
.form-check.form-switch {
  display: table-cell;
  /* position: -webkit-sticky; */
  /* position: right; */
  position: relative;
  left: 200px;
  width: 1200px;
  height: 50px;
  /* background-color: pink; */
}

#checkBtn{
  transform:scale(1.5);
  position: relative;
  left: 150px;
  top: 10px;
  height: 50px;
  width: 10px;
  /* background-color: pink; */
}

#subjectID{
  position: absolute;
  left: 200px;
  height: 50px;
  width: 150px;
  /* background-color: pink; */
}

#subjectName{
  position: absolute;
  left: 300px;
  height: 50px;
  width: 240px;
  /* background-color: pink; */
}

#professor{
  position: absolute;
  left: 550px;
  height: 50px;
  width: 400px;
  /* background-color: pink; */
}

#credit{
  position: relative;
  left: 800px;
  height: 50px;
  /* background-color: pink; */
}

#style{
  position: relative;
  left: 60px;
  height: 50px;
  /* background-color: pink; */
}

.BigcheckBtn{
  color: #3BAF75;
  background-color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  width:130px;
  border-radius: 15px;
  border: solid 1px #3BAF75;
}

.BigCancelBtn{
  /* class.htmlのキャンセルボタン */
  color: #3BAF75;
  background-color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  width:130px;
  border-radius: 15px;
  border: solid 1px #3BAF75;
  position: relative;
  top: 0px;
}
