body{
  background-color:#F5F5F5;

}
#nameAdd{
  width: 50%;
  margin: auto;
}
#emailAdd{
  width: 50%;
  margin: auto;
}
#passwordAdd{
  width: 50%;
  margin: auto;
}

.thead-dark{
  background-color: #2C3F55;
}

.center{
  text-align: center;
}

.sign{
  color:white;
  background-color:#2C3F55;
  border-style: solid;
  border-width: 0.5px;
  padding: 1px 7px 2px;
  display: inline-block;
  width: 130px;
  height: 40px;
  border-radius: 15px;
}
h1{
  color: #2C3F55;
}
h2{
  color: #2C3F55;
}
h3{
  color: #2C3F55;
}
h4{
  color: #2C3F55;
}
.day{
  color: #F5F5F5;
}
p{
  color:#2C3F55;
}

.addRoom{
  color: #F1907E;
  background-color: #F5F5F5;
  padding: 5px 5px 5px 5px;
  width:50px;
  border-radius: 15px;
  border: solid 1px #F1907E;
}

.classroom{
  color: #3D92A4;
  background-color: #F5F5F5;
  padding: 5px 5px 5px 5px;
  width:50px;
  border-radius: 15px;
  border: solid 1px #3D92A4;
}


.changeroom{

  /* .addRoomをコピペしたのでいい感じに色とか大きさとか変更してねー */
  color: #3BAF75;
  background-color: #F5F5F5;
  padding: 5px 5px 5px 5px;
  width:50px;
  border-radius: 15px;
  border: solid 1px #3BAF75;
}

.Bigchangeroom{
  /* timetable.htmlの履修を変更するボタン */
  color: #3BAF75;
  background-color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  width:130px;
  border-radius: 15px;
  border: solid 1px #3BAF75;
}

.account{
color:#F5F5F5;
background-color:#F1907E;
padding: 5px 5px 5px 5px;
position: center;
width:75px;
border: solid 3px #F1907E;
border-radius: 15px;
}

.BigcheckBtn{
  /* classlistの決定ボタン */
  color: #F1907E;
  background-color: #F5F5F5;
  padding: 10px 10px 10px 10px;
  width:130px;
  border-radius: 15px;
  border: solid 1px F1907E;
  position: relative;
  left: 850px;
}
